// Google fonts
@font-face {
  font-family: "Fraunces 9pt";
  src: url("../font/Fraunces9pt-Black.woff2") format("woff2"),
    url("../font/Fraunces9pt-Black.woff") format("woff");
  font-weight: 900;
  display: swap;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../font/Barlow-Bold.woff2") format("woff2"),
    url("../font/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  display: swap;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../font/Barlow-Regular.woff2") format("woff2"),
    url("../font/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  display: swap;
  font-style: normal;
  font-display: swap;
}

// Google fonts
