// Footer
.footer {
  padding-top: 240px;
}

.footer__inner {
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #2c343e;
  display: flex;
  align-items: center;
}

.footer__list {
  padding: 0;
  margin: 0;
  display: flex;
}

.footer__list li {
  list-style: none;
}

.footer__main {
  display: flex;
  align-items: center;
}

.footer__icons li {
  display: inline;
}

.footer__list a {
  margin-left: 70px;
  text-decoration: none;
  font-family: "Barlow";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}

.footer__list a:hover {
  color: #fefcf7;
}

.footer__icons li {
  list-style: none;
}

.footer__icons {
  margin-left: auto;
}

.footer__icons a {
  margin-left: 25px;
  font-size: 25px;
  color: #fff;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}
// Footer

// Footer media
@media only screen and (min-width: 993px) and (max-width: 1116px) {
  .footer__inner {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media only screen and (max-width: 1036px) {
  .footer__inner {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }

  .footer__main {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .footer__list {
    margin-top: 20px;
  }

  .footer__list a {
    margin-left: 0;
    margin-left: 30px;
  }

  .footer__icons a {
    margin-left: 0;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 569px) {
  .footer__list {
    color: red;
    display: block;
  }

  .footer__list a {
    display: inline-block;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 464px) {
  .footer__inner {
    padding-left: 0px;
    padding-right: 0px;
  }

  .footer__icons {
    display: inline;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
  }
}

// Footer media
